<div class="container text-light">
    <div class="row justify-content-center mb-4">
        <h1 class="font-weight-bold">Incoming Invites</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <ul class="list-group">

                <% if @invites.exists? %>
                    <%= render partial: "invite", collection: @invites %>
                <% else %>
                    <li class="list-group-item d-flex align-items-center bg-dark text-light lead">There are no incoming invites currently...</li>
                <% end %>
            </ul>
        </div>
    </div>
</div>