<li class="list-group-item bg-dark d-flex justify-content-between">
    <span class="d-flex align-items-center font-weight-bold"><%= event.name %></span>
    <%= link_to "View", event_path(event), class: "btn btn-primary"%>
</li>