<div class="container">
    <% if @events.exists? %>

        <div class="row justify-content-center mb-5">
            <h1 class="font-weight-bold mb-5 bg-success p-3 rounded">Upcoming Events</h1>
            <div class="card-columns">
                <%= render partial: "event", collection: @events.upcoming, locals: {is_show: true}%>
            </div>
        </div>

        <div class="row justify-content-center mb-5">
            <h1 class="font-weight-bold mb-5 bg-danger p-3 rounded">Past Events</h1>
            <div class="card-columns">
                <%= render partial: "event", collection: @events.past, locals: {is_show: true}%>
            </div>
        </div>
        
    <% else%>
        <div class="jumbotron bg-dark">
            <h1 class="display-4">Organize An Event!</h1>
            <p class="lead">There are currently no events on this website. Be the first one to organize an event!</p>
            <hr class="my-4 border border-secondary">
            <p>Invite your friends to this website to stay up to date with the latest events!</p>
        </div>
    <% end %>
</div>